doctype html
html
  head
    title Shiba Inu
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/jquery-ui/jquery-ui.min.js')
    script(src='/bower_components/socket.io-client/socket.io.js')
    script(src='javascripts/main.js')
  body
    block content
